@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin: 0;
  padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  
}

/*Estilos do body*/
body {
	line-height: 1;
    background-color: #FFFFFF;
    height:100vh;
    display: flex;
    flex-direction: column;
}

/*Estilos do menu*/
.mt-4{
  text-align: justify;
}

.imagem1{
  height: 330px;
  width: 400px;
}

.imagem4{
  height: 300px;
  width: 350px;
}

.imagem6{
  margin-top: 5; 
  height: 300px;
  width: 350px;
}

.row mb-5{
  margin-top: 10%;
}

.card-text{
  text-align: justify;
}

.card p-0{
  width: 20rem;
}

/*Estilos da barra de navegação*/
.borda{
    box-shadow:0 0 1em rgb(182, 178, 178);
}

.cor-fundo{
    background-color: purple;
}

.tamanhoImg{
    width: 110px;
    height: 25px;
}

.color{
    color: rgb(250, 251, 251);
    
}

.color:hover{
    color: rgb(65, 7, 75);
}

.card-body{
    font-family: Arial, Helvetica, sans-serif;
}


/*Estilos de matérias*/
.row {
    margin-top: 10%;
    margin-bottom: 20%; 
}

.card-title{
    text-align:center;;
    font-weight: bolder;
}

.botao_do_card {
    display: flex;
    text-align: center;
    font-size: small;
}

.card-text{
    font-size: medium;
    line-height: 150%; 
}

#botao_linguagens{
    background-color: #fab672;
    border-radius:20px;
    margin-top: 60px;
}

#botao_c_natureza{
    background-color: #c8a2c8;
    border-radius:20px;
    margin-top: 110px;
}

#botao_c_humanas{
    background-color: #f08080 ;
    border-radius:20px;
    width: 100%;
    margin-top: 60px;
}

#botao_matematica{
    background-color: #87cefa;
    border-radius:20px;
    margin-top: 130px;
}

#c_natureza{
    
    border: 2px solid #c8a2c8;
    border-radius:10px;
    height: 20rem;
}

#c_humanas{
    border: 2px solid #f08080;
    border-radius:10px;
    height: 20rem;
}

#matematica{
    border: 2px solid #87cefa;
    border-radius:10px;
    height: 20rem;
}

#linguagens{
    border: 2px solid #fab672;
    border-radius:10px;
    height: 20rem;
}

.carousel-inner{
    height: 450px;
}

h1{
    margin-left: 5%;
    padding-top: 5%;
}

p{
    margin-left: 5%;
    font-size:20px;
}
.card-text{
    list-style-type: circle;
}


/*Estilos de contato*/
.contato{
    padding: 20px  100px 100px 200px;
}

.container-cont{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container-cont .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-cont .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #98857E;
}

.content .left-side .details{
  margin: 14px;
  text-align: center;
}

.content .left-side .details i{
  font-size: 30px;
  color: rgb(255, 246, 72);
  margin-bottom: 10px;
}

.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}

.container-cont .content .right-side{
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: rgb(255, 246, 72);
}

.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box{
  min-height: 110px;
}

.right-side .input-box textarea{
  padding-top: 6px;
}

.right-side .button{
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: rgb(255, 246, 72);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover{
  background: #C1AC9C;
}


/*Estilos do cadastro*/
.bodycadastro { 
  width: 100%; /*largura da tela toda*/
  height: 100vh; /*altura*/
  display: flex; /*exibição no centro*/
  justify-content: center;/*justicar o conteudo no centro*/
  align-items: center; /*alinhamento do item no centro*/
  background: #fff; /*fundo*/
  font-family: 'Inter', sans-serif;

}

