*{
	margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
    height:100vh;
    display: flex;
    flex-direction: column;
}



header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-height:100px;
    box-shadow: 0px 0px 7px gray;

}

a#img {
	width: 100px;
}

.bg-nav{
    background-color: #7952b3;

}


ul,li {

	list-style: none;
	font-size: 1.2rem;
	
}

a{
    text-decoration: none;
    color: #A068AD;

}

.navbar-nav{
	margin-right: 10px;
	margin-left:10px;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.margin1 {
	margin-top: 10%;
}



.row {
    margin-top: 10%;
    margin-bottom: 20%;
    height: ;
    
}

.card-title{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.botao_do_card {
    display: flex;
    text-align: center;
    margin-inline: 30%;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    line-height: 150%;
    
}

#botao_linguagens{
    background-color: #EBB82F;
    border-radius:20px;
}

#botao_c_natureza{
    background-color: #20F21D;
    border-radius:20px;
}

#botao_c_humanas{
    background-color: #F53204 ;
    border-radius:20px;
}

#botao_matematica{
    background-color: #2580DB;
    border-radius:20px;
}

#c_natureza{
    
    border: 2px solid #20F21D;
    border-radius:10px;
}

#c_humanas{
    border: 2px solid #F53204;
    border-radius:10px;
}

#matematica{
    border: 2px solid #2580DB;
    border-radius:10px;
}

#linguagens{
    border: 2px solid #EBB82F;
    border-radius:10px;
}

.carousel-inner{
    height: 450px;
}

.Texto_embaixo_carroceu{
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin-top: 5% ;
}
